@define-color accent #8ea4a2;
@define-color bg-color #181616;
@define-color fg-color #c5c9c5;
@define-color desc-color #a6a69c;

window {
  background: transparent;
}

box.main {
  padding: 5px;
  margin: 10px;
  border-radius: 0;
  border: 2px solid @accent;
  background-color: rgba(24, 22, 22, 0.85);
  box-shadow: 0 0 5px black;
}


text {
  min-height: 30px;
  padding: 5px;
  border-radius: 0;
  color: @fg-color;
  font-family: "VictorMono NF";
}

.matches {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

box, list, label {
  font-family: "VictorMono NF";
}

box.plugin:first-child {
  margin-top: 5px;
}

box.plugin.info {
  min-width: 200px;
}

list.plugin {
  background-color: rgba(0, 0, 0, 0);
}

label.match {
  color: @fg-color;
}

label.match.description {
  font-size: 10px;
  color: @desc-color;
}

label.plugin.info {
  font-size: 14px;
  color: @fg-color;
}

.match {
  background: transparent;
}

.match:selected {
  border-left: 4px solid @accent;
  background: transparent;
}
